.carousel {
    position: relative;
    width: 50%;
    margin: 40px auto;
    height: 450px;
    display: flex;
    overflow: hidden;
    align-items: center;
}

.imageItem {
    display: flex;
    justify-content: center;
}

.imageItem,
.image {
    width: 100%;
    height: 100%;
}

#right {
    animation: slide-from-right 600ms;
}

#left {
    animation: slide-from-left 600ms;
}

.nav {
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.button {
    padding: 40px;
    border: 0;
    border-radius: 15px;
    margin: 10px;
    background-color: #4e4d4db0;
}

.link {
    font-weight: 700;
    color: #000000;
    text-decoration: none;
}

.hidden {
    animation: slide-animation-reverse 1s;
    display: none;
}

.description {
    position: absolute;
    bottom: 0;
    color: #ffffff;
    font-weight: 700;
    background-color: #0000008f;
    padding: 20px;
    width: 100%;
    margin: 0;
}

.leftArrow {
    background-color: transparent;
    width: 0;
    height: 0;
    border-top: 25px solid transparent;
    border-bottom: 25px solid transparent;
    border-right: 25px solid #ffffff;
    border-left: 0;
    margin-left: 10px;
}

.rightArrow {
    background-color: transparent;
    width: 0;
    height: 0;
    border-right: 0;
    border-top: 25px solid transparent;
    border-bottom: 25px solid transparent;
    border-left: 25px solid #ffffff;
    margin-right: 10px;
}

.pagination {
    display: flex;
    justify-content: center;
}

.selectedCircle,
.paginationCircle {
    width: 16px;
    height: 16px;
    border: 1px solid #282c34;
    border-radius: 100%;
    margin: 0 20px;
}

.selectedCircle {
    background-color: #61dafb;
}

@keyframes slide-from-right {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(0);
    }
}

@keyframes slide-from-left {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(0%);
    }
}
