.openModalBtn {
  margin-top: 40px;
  padding: 15px 20px 15px 20px;
  background-color: rgb(97 218 251);
  border-radius: 8px;
  border: 0;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
  color: rgb(40 44 52);
  font-weight: 600;
}

.background {
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgb(97 218 251 / 56%);
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .container {
    width: 500px;
    height: 500px;
    border-radius: 12px;
    background-color: white;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    display: flex;
    flex-direction: column;
    padding: 25px;
  }
  
  .title {
    display: inline-block;
    text-align: center;
    margin-top: 10px;
  }
  
  .closeButton {
    display: flex;
    justify-content: flex-end;
  }
  
  .closeButton button {
    background-color: transparent;
    border: none;
    font-size: 25px;
    cursor: pointer;
  }
  
  .container .textArea {
    flex: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.7rem;
    text-align: center;
  }
  
  .container .footer {
    flex: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .footerButton {
    width: 150px;
    height: 45px;
    margin: 10px;
    border: none;
    background-color: cornflowerblue;
    color: white;
    border-radius: 8px;
    font-size: 20px;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
  }

  .cancelBtn {
    background-color: crimson;
  }