.button {
    width: 80%;
    padding: 20px;
    background-color: white;
    border: 1px solid grey; 
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}

.buttonOpen {
    border-radius: 7px 7px 0 0;
}

.buttonClosed {
    border-radius: 7px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.arrowUp {
    width: 0; 
    height: 0; 
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 5px solid black;
  }

.arrowDown {
    width: 0; 
    height: 0; 
    border-left: 5px solid transparent;
    border-right: 5px solid transparent; 
    border-top: 5px solid black;
  }